*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
     background-color: rgb(158, 158, 172); 
}
/* Navigation bar styling */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}
#navbar::before{
    content: " ";
    position: absolute;
    background-color: rgb(63, 62, 65); 
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.4; */
}
#logo {
    display: flex;
    margin: 3px 100px;
    align-items: center;
    }
#logo img{
height: 50px;
width: 50px;
/* padding-left: 40px; */
}
#logo p{
    /* font-size: 1.5rem; */
    font-size: 30px;
}

#navbar ul{
    display: flex;
    margin-left: 400px;
}
#navbar ul li{
    list-style-type: none;
    padding: 12px 40px;
}
#navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
#navbar ul li :hover{
    background-color: white;
    color: black;
}

#home{
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: " ";
    position: absolute;
    background:url(./back.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
/* Home content styling */
.first{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;

}
/* .first>div{
    width: 30%;
} */
.leftsection{
width: 40%;
margin: 80px 0;
color: rgb(0, 0, 0);
font-size: 2rem;
align-items: center;
justify-content: center;
padding-left: 50px;

}
.rightsection{
    margin: 40px 0;
    width: 30%;
}
.rightsection img{
 width: 100%;
}
.color{
   color: rgb(98, 26, 166); 
}
#element{
    color: rgb(98, 26, 166);
}

.heading{
    color: rgb(98, 26, 166); 
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}


.card:hover{
    border: 2px solid black;  
    
}
.card-text{
    text-align: justify;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.vpbutton{
    padding: 5px 10px;
    background-color: rgb(98, 26, 166);  
    color: white;
}
.vpbutton:hover{
    background-color: rgb(101, 50, 148);
}
#aboutp{
    color: rgb(58, 55, 55);
     padding: 0px 150px;

}
.pabout{
    font-size: 1.2rem;
}
.firstabout{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;

}

.firstabout h4{
    color: rgb(98, 26, 166);
}
.leftsectionabout{
width: 40%;
margin: 30px 0;
color: rgb(73, 69, 69);
font-size: 2rem;
align-items: center;
justify-content: center;
padding-left: 50px;

}
.rightsectionabout{
    margin: 40px 0;
    width: 40%;
    color: rgb(73, 69, 69);
    font-size: 2rem;
    align-items: center;
    justify-content: center;

}
/* .skill-box {
    width: 200px;
    height: 50px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    
  } */


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 5px; */
    margin-top: 50px;
}

.skill-box {
    /* width: 33.3%; */
    /* height: 50px; */
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-box h5 {
    margin: 0;
    font-size: 1rem;
}



